#Ignore Line

# Gradle files
/build

#build files



# Local configuration file (sdk path, etc)


.DS_Store


# User-specific configurations

*.iml

# OS-specific files


# Local configuration file (sdk path, etc)


# Android Studio Navigation editor temp files

